* {
    padding: 0;
    margin: 0;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
      
}

.section-one {

    color: white;
    background-color: black;
    padding: 20px;
    font-size: 40px;
}

.section-one__contact {

    color: white;
    background-color: red;
    text-decoration: none;
    padding: 10px 10px 5px 5px;
    display: inline-block;
    margin-top: 10px;
}


.section-five {
    background-color: black;
    color: white;
    
}

.section-five__title a{

    color: skyblue;
    background-color: skyblue;
    text-decoration: none;
}

.container {

    margin: 50px;
}

.section-one {

    margin-top: 20px;
}

.contact-form__name {

    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__email {

    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.submitbutton {

    margin-bottom: 20px;
    background-color: orangered;
    color: black;
    border: none;
    padding: 10px 20px 10px 20px;
}