* {
    padding: 0;
    margin: 0;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
      
}

.container {
    padding: 50px;
}

.section-one {

    color: white;
    background-color: black;
    padding: 20px;
    font-size: 40px;
}

.section-one__contact {

    color: white;
    background-color: red;
    text-decoration: none;
    padding: 10px 10px 5px 5px;
    display: inline-block;
    margin-top: 10px;
}

.section-two, .section-three, .section-four, .section-five {

    margin-top: 20px;

}

.section-two__description, .section-three__description, .section-four__description, .section-five__description {

    margin-top: 10px;

}

.section-five {
    background-color: black;
    color: white;
    
}

.section-five__title a{

    color: skyblue;
    background-color: skyblue;
    text-decoration: none;
}

.section-three li, .section-four li {

    list-style: none;
}

.section-three {

    background-color: violet;
    display: inline block;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
}

.section-four {

    background-color: orange;
    display: inline-block;
    width:600px;
    padding: 20px;
    border-radius: 10px;
    vertical-align: top;
}